


.nous-connaitre{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nous-connaitre form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nous-connaitre input{
    border-radius: .75rem;
}