.sorties {
    overflow: scroll;
}

.sorties-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,);
}

.sorties-container li {
    border: solid black 1px;
}