#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15% 78% 7%;
  background-color: #edf1fd;
  
  
}




@media screen and (min-width: 96em) {
  #root {
    grid-template-rows: 10% 80% 10%;
  }
}

